@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayName("Machine Name"): @Html.DisplayFor(model => model.MachineName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any current engineers assigned to them.</p>
}
else
{
  <h4>Current engineers assigned:</h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li> 
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @join.Engineer.EngineerName
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
      </li>
    }
  </ul>
}

@if (@ViewBag.Engineers.Count == 0)
{
  <a href="">
    <button type="button" disabled="">No Engineers to assign</button>
  </a>
}
else
{
  <a href='@Url.Action("AddEngineer", new { id = Model.MachineId })'>
    <button type="button">Assign an Engineer</button>
  </a>
}

<a href='@Url.Action("Delete", new { id = Model.MachineId })'>
    <button type="button">Delete Machine</button>
</a>
<a href='@Url.Action("Edit", new { id = Model.MachineId })'>
    <button type="button">Edit Machine</button>
</a>
