@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Editing @Html.DisplayFor(model => model.MachineName)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Updated Machine Name") 
  <br>
  @Html.EditorFor(model => model.MachineName)
  <p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })</p> 

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'>
    <button type="button">Back to List</button>
</a>