@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not have any current machines assigned to them.</p>
}
else
{
  <h4>Current machines assigned:</h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>
        @join.Machine.MachineName
      </li>
      @* @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.HiddenFor(model => join.MachineId)
        <input type="submit" value="Delete" />
      } *@
    }
  </ul>
}

@if (@ViewBag.Machines.Count == 0)
{
  <button type="button" class="btn btn-lg btn-primary" disabled="">No machines to assign</button>
  @* <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Disabled link button</a> *@
}
else
{
  <button class="btn btn-primary btn-lg active" type="button" aria-pressed="true">@Html.ActionLink("Add an Machine", "AddMachine", new { id = Model.EngineerId })</button>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>