@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayName("Engineer Name"): @Html.DisplayFor(model => model.EngineerName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not have any current machines assigned to them.</p>
}
else
{
  <h4>Current machines assigned:</h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        <li>
          @join.Machine.MachineName
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" />
        </li>
      }
    }
  </ul>
}

@if (@ViewBag.Machines.Count == 0)
{
  <a href="">
    <button type="button" disabled="">No machines to assign</button>
  </a>
}
else
{
  <a href='@Url.Action("AddMachine", new { id = Model.EngineerId })'>
    <button type="button">Assign a Machine</button>
  </a>
}

<a href='@Url.Action("Delete", new { id = Model.EngineerId })'>
    <button type="button">Delete Engineer</button>
</a>
<a href='@Url.Action("Edit", new { id = Model.EngineerId })'>
    <button type="button">Edit Engineer</button>
</a>