@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Editing @Html.DisplayFor(model => model.EngineerName)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Updated Engineer Name") 
  <br>
  @Html.EditorFor(model => model.EngineerName)
  <p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger" })</p> 

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'>
    <button type="button">Back to List</button>
</a>